<ul class="breadcrumb">
        <li>
          <p>YOU ARE HERE</p>
        </li>
                    <li>
			<%= link_to 'Course Types', course_types_url %>
                    </li>
      </ul>
      <div class="page-title"> <i class="icon-edit"></i>
        <h3>New <span class="semi-bold">Course Type</span></h3>
      </div>
      

	  
<%= render 'form' %>
