                <div class="page-title">
                        <i class="icon-briefcase"></i>
                    	<h3>Activity <span class="semi-bold">Log</span></h3>	
                </div>
				
				
				<div class="grid simple ">
                  <div class="grid-body no-border filters user-log-filter">
                  <div class="row order-filters">                            
                        <div class="col-md-3">
                            <h4>User</h4>
                            <div class="">
                                <%= select_tag 'user', options_for_select(User.active_users.collect{ |u| [u.name, u.id] }) , {:include_blank => 'All', class: "modern_select width100"} %>
                            </div>
                        </div>
						<div class="col-md-3">
								<h4>Created From</h4>							
								<div class="input-with-icon  right">                                       
									<i class=""></i>
									<div class="input-append success date col-md-10 no-padding">
									  <%= text_field_tag :created_from, "", :class => "form-control" %>
									  <span class="add-on"><span class="arrow"></span><i class="icon-th"></i></span>
									</div>
									<br style="clear: both" />
							   </div>
							</div>			
						<div class="col-md-3">
								<h4>Created To</h4>							
								<div class="input-with-icon  right">                                       
									<i class=""></i>
									<div class="input-append success date col-md-10 no-padding">
									  <%= text_field_tag :created_to, "", :class => "form-control" %>
									  <span class="add-on"><span class="arrow"></span><i class="icon-th"></i></span>
									</div>
									<br style="clear: both" />
							   </div>
						</div>
						
						<div class="col-md-3">
								<h4>Log Type</h4>							
								<div class="input-with-icon  right">                                       
									<i class=""></i>
									<div class="">
									  <%= select_tag 'title', options_for_select(UserLog.select_options) , {:include_blank => 'All', class: "modern_select width100"} %>
									</div>
									
							   </div>
						</div>
						
                  </div>
                  </div>		    
				</div>
				
				
                <div class="row">
                  <div class="col-md-12">
                      
                      <div class="grid simple ">
                          <div class="grid-title no-border">
                              <h4>Activity  <span class="semi-bold">Log</span></h4>
                              
                          </div>
                          <div class="grid-body no-border">
                               
                                  <table class="table table-striped no-more-tables datatable-user-logs no-filter">
                                          <thead>
                                              <tr>                                                
                                                  <th width="">Activity</th>
                                                  <th width="40%">Details</th>
                                                  <th class="text-center" width="1%">Created At</th>
                                                  <th class="text-center">User</th>
                                              </tr>
                                          </thead>                                        
                                      </table>
                                  
                          </div>
                      </div>
          
                  </div>
          
              </div>



