
                <div class="page-title">
                        <i class="icon-briefcase"></i>
                    	<h3>Sales Targets - <span class="semi-bold"> Management</span></h3>	
                </div>
                
            <%= form_tag("", {class: "listing_form", method: "post", target: "_blank"}) do |f| %>
			
				
			
			
                <div class="row">
                    <div class="col-md-12">
                        <%= link_to 'New Sales Target', new_sales_target_path(tab_page: 1), psrc: sales_targets_path(tab_page:1), title: "New Sales Target", :class => 'btn btn-primary btn-cons tab_page' %>
						
                        <div class="grid simple ">
								
						<%= render "filters" %>
								
                            <div class="grid-title no-border">                             
                            </div>
                            <div class="grid-body no-border">
                                    <table class="table table-striped no-more-tables datatable-sales-targets no-filter">
                                        <thead>
                                            <tr>												
												<th class="text-left">User</th>
                                                <th class="text-left nowrap">Report Period</th>
												<th class="text-left">Amount</th>
												<th class="text-left nowrap">Created on</th>
												<th class="text-left">Status</th>
												<th class="text-right" width="1%">Actions</th>
                                            </tr>
                                        </thead>                                        
                                    </table>
                            </div>
                        </div>
			
                    </div>
		    
                </div>
            <% end %>
