<%= stylesheet_link_tag "print_html.css?v=5" %>

<div class="page_outer">

	  <div>
          <%= link_to("<i class=\"icon icon-print\"></i> Print".html_safe, {controller: "deliveries", action: "print", id: @delivery.id}, class: "btn btn-primary", target: "_blank") %>
		  <%= link_to("<i class=\"icon icon-trash\"></i> Trash".html_safe, {controller: "deliveries", action: "trash", id: @delivery.id, tab_page: 1}, class: "btn btn-warning") if can? :trash, @delivery %>
	  </div>
      
	  <br style="clear: both" />
      <%= render "show" %>
	  
</div>
<br style="clear: both" />




<style>
  .page_outer {
    margin: 20px;
    
  }
  .page {    
    border: solid 1px #ccc;
    padding: 20px;
  }
  .text-nowrap {
	  white-space: nowrap;
  }
</style>