                <div class="page-title">
                        <i class="icon-briefcase"></i>
                    	<h3>Stock - <span class="semi-bold"> Log</span></h3>	
                </div>
				
				
				<div class="grid simple ">
                  <div class="grid-body no-border filters stock-update-filter">
                  <div class="row order-filters">
						<div class="col-md-2">
								<h4>From</h4>							
								<div class="input-with-icon  right">                                       
									<i class=""></i>
									<div class="input-append success date col-md-10 no-padding">
									  <%= text_field_tag :created_from, "", :class => "form-control" %>
									  <span class="add-on"><span class="arrow"></span><i class="icon-th"></i></span>
									</div>
									<br style="clear: both" />
							   </div>
							</div>			
							<div class="col-md-2">
								<h4>To</h4>							
								<div class="input-with-icon  right">                                       
									<i class=""></i>
									<div class="input-append success date col-md-10 no-padding">
									  <%= text_field_tag :created_to, Time.now.strftime("%d-%b-%Y"), :class => "form-control" %>
									  <span class="add-on"><span class="arrow"></span><i class="icon-th"></i></span>
									</div>
									<br style="clear: both" />
							   </div>
							</div>
						<div class="col-md-3">
							<h4>Type</h4>							
							<div class="input-with-icon  right">                                       
                                    <i class=""></i>
                                    <div class="input-with-icon  right">
                                          <select name="type_name" class="modern_select width100 required">
                                                <option value="">All</option>
                                                <option value="import">Import</option>
                                                <option value="export">Export</option>
                                          </select>
                                    </div>
                            </div>
						</div>
						
                        
                  </div>
                  </div>		    
				</div>
				
				
                <div class="row">
                    <div class="col-md-12">                        
                        <div class="grid simple ">
                            <div class="grid-title no-border">
                                <h4>Listing  <span class="semi-bold">Updates</span></h4>
                                
                            </div>
                            <div class="grid-body no-border">
                                 
                                    <table class="table table-striped no-more-tables datatable-stock-updates no-filter">
                                        <thead>
                                            <tr>
                                                <th width="1%">Cover</th>
												<th>Title</th>
												<th class="text-center">Type</th>
                                                <th class="text-center">Quantity</th>
                                                <th class="text-center">Created On</th>
												<th class="text-center" width="1%">Creator</th>
                                            </tr>
                                        </thead>                                        
                                    </table>
                            </div>
                        </div>
			
                    </div>
		    
                </div>




