                                        <%= render "payment_records/filter" %>
										
										<style>
												.student-payment-filter {
														position: absolute;
														top: -90000px;
												}
										</style>
                
										<div class="row">
											<div class="col-md-12">
												
												<div class="grid simple ">
													<div class="grid-title no-border">
														<h4>Listing  <span class="semi-bold">Books</span></h4>
														
													</div>
													<div class="grid-body no-border">
														 
															<table class="table table-striped no-more-tables datatable-payment-records no-filter">
                                                                    <thead>
                                                                        <tr>                                                
                                                                            <th>Student</th>
                                                                            <th class="text-right">Paid Amount</th>
                                                                            <th class="text-center">Paid On</th>
                                                                            <th class="text-left">Note</th>
                                                                            <!--<th class="text-center">Status</th>-->
                                                                            <th class="text-center">Registration</th>
                                                                            <th class="text-right">Registration Total</th>
                                                                            
                                                                            
                                                                            <th class="text-center" width="1%">Staff</th>
                                                                            <th class="text-right" width="1%">Actions</th>
                                                                        </tr>
                                                                    </thead>                                        
                                                                </table>
                                                            
													</div>
												</div>
									
											</div>
									
										</div>