										
										<%= render "seminars/filter" %>
										
										<style>
												.student-seminar-filter {
														position: absolute;
														top: -90000px;
												}
										</style>
											
										<h4><span class="semi-bold">Seminar List</span></h4>
										<div class="row">
											 <div class="col-md-12">
												 
												 <div class="grid simple ">
													 <div class="grid-title no-border">
														 <h4>Listing  <span class="semi-bold">Seminar</span></h4>
														 
													 </div>
													 <div class="grid-body no-border">
														  
															 <table class="table table-striped no-more-tables datatable-seminars no-filter">
																 <thead>
																	 <tr>                                                
																		 <th>Name</th>
																		 <th>Description</th>
																		 <th class="text-center">Program</th>
																		 <th class="text-center">Member</th>
																		 <th class="text-center">Start At</th>
																		 <th class="text-center" width="1%">Creator</th>
																		 <th class="text-center" width="1%">Status</th>
																		 <th class="text-right" width="1%">Actions</th>
																	 </tr>
																 </thead>                                        
															 </table>
													 </div>
												 </div>
									 
											 </div>
									 
										 </div>