										<h4><span class="semi-bold">Defer/Transfer Status</span></h4>
												 <div class="row column-seperation">
													  
													  <div class="col-md-3">
														   
														   <div class="form-group">
															 <label class="form-label"><label>Defer/Transfer Hour</label></label>
															 <span class="help"></span>
															 <div class="input-with-iconz text-right">
																<strong class="big-info"><%= format_price(@contact.budget_hour) %></strong>
															 </div>
														   </div>
														   
													  </div>
													  <div class="col-md-3">
														   
														   <div class="form-group">
															 <label class="form-label"><label>Defer/Transfer Money</label></label>
															 <span class="help"></span>
															 <div class="input-with-iconz text-right">
																<strong class="big-info"><%= format_price(@contact.budget_money) %></strong>
															 </div>
														   </div>
														   
													  </div>
												 </div>
										
										<%= render "transfers/filter" %>
										
										<style>
												.student-transfer-filter {
														position: absolute;
														top: -90000px;
												}
										</style>
											
										<h4><span class="semi-bold">Payments List</span></h4>
										<div class="row">
											<div class="col-md-12">
												
												<div class="grid simple ">
													<div class="grid-titlex no-border">
																												
													</div>
													<div class="grid-body no-border">
														 
															<table class="table table-striped no-more-tables datatable-transfers no-filter">
                                                                    <thead>
                                                                        <tr>
																				<th class="text-center">From</th>
																				<th class="text-center">To</th>
                                                                                <th>Date</th>
																				<th class="text-left">Description</th>
																				<th class="text-center">Hour</th>
																				<th class="text-right">Money</th>
																				<th class="text-right">Fee</th>                                                
																				<th class="text-right">Total</th>
																				<th class="text-center">Created on</th>
																				<th class="text-center" width="1%">Education Consultant</th>
																				<th class="text-right" width="1%">Actions</th>
                                                                        </tr>
                                                                    </thead>                                        
                                                                </table>
                                                            
													</div>
												</div>
									
											</div>
									
										</div>