
												 <div class="row">
													  
													  <div class="col-md-3">
														   
														   <div class="form-group">
															 <label class="form-label"><label>Budget Hour</label></label>
															 <span class="help"></span>
															 <div class="input-with-iconz text-right">
																<strong class="big-info"><%= format_price(@contact.budget_hour) %></strong>
															 </div>
														   </div>
														   
													  </div>
													  <div class="col-md-3">
														   
														   <div class="form-group">
															 <label class="form-label"><label>Budget Money</label></label>
															 <span class="help"></span>
															 <div class="input-with-iconz text-right">
																<strong class="big-info"><%= format_price(@contact.budget_money) %></strong>
															 </div>
														   </div>
														   
													  </div>
												 </div>
											
										
										<div class="row">
											<div class="col-md-12">
												
												<div class="grid simple ">
													<div class="grid-titlex no-border">
														<h4>Payments <span class="semi-bold">List</span></h4>														
													</div>
													<div class="grid-body no-border">
														 
															<table class="table table-striped no-more-tables datatable-transfers no-filter">
                                                                    <thead>
                                                                        <tr>                                                
                                                                                <th>Date</th>
																				<th class="text-left">Description</th>
																				<th class="text-center">Hour</th>
																				<th class="text-right">Money</th>
																				<th class="text-right">Fee</th>                                                
																				<th class="text-right">Total</th>
																				<th class="text-center">Created on</th>
																				<th class="text-center" width="1%">Education Consultant</th>
																				<th class="text-right" width="1%">Actions</th>
                                                                        </tr>
                                                                    </thead>                                        
                                                                </table>
                                                            
													</div>
												</div>
									
											</div>
									
										</div>