<div class="row">
  <div class="col-md-12">
    <h4>Mobile List (<%= @mobiles.count %>)</h4>
    <div style="display: inline-block;max-width: 100%;padding: 10px;border: solid 1px #aaa;word-break: break-all">
      <%= @mobiles.join(";") %>
    </div>
  </div>
</div>