                <ul class="breadcrumb">
                    <li>
                        <p>YOU ARE HERE</p>
                    </li> 
                    <li><%= link_to 'Stock Management', courses_url, :class => "active" %></li>
                </ul>
                <div class="page-title">
                        <i class="icon-book"></i>
                    	<h3>Stock - <span class="semi-bold"> Management</span></h3>	
                </div>
                
				
				<%= render "filters" %>
                
                
                
                
                <div class="row">
                    <div class="col-md-12">
                        <%= link_to 'New Stock', new_book_path(tab_page: 1), psrc: books_path(tab_page:1), title: "New Book", :class => 'btn btn-primary btn-cons tab_page' %>
                        <div class="grid simple ">
                            <div class="grid-title no-border">
                                <h4>Listing  <span class="semi-bold">Books</span></h4>
                                
                            </div>
                            <div class="grid-body no-border">
                                 
                                    <table class="table table-striped no-more-tables datatable-books no-filter">
                                        <thead>
                                            <tr>                                                
												<th width="1%">Cover</th>
                                                <th>Title</th>
												<th>Volumns</th>
												<th class="text-center">Program</th>
												<th class="text-center">Paper</th>
                                                <th>Publisher</th>
												<th class="text-center">List Price</th>
                                                <th class="text-center">Created At</th>
												<th class="text-center" width="1%">Creator</th>
												<th class="text-right" width="1%">Actions</th>
                                            </tr>
                                        </thead>                                        
                                    </table>
                            </div>
                        </div>
			
                    </div>
		    
                </div>

