                <ul class="breadcrumb">
                    <li>
                        <p>YOU ARE HERE</p>
                    </li> 
                    <li><%= link_to 'Books', courses_url, :class => "active" %></li>
                </ul>
                <div class="page-title">
                        <i class="icon-book"></i>
                    	<h3>Books - <span class="semi-bold"> Management</span></h3>	
                </div>
                
                
                <!--<div class="grid simple ">
					<div class="grid-body no-border filters course-filter">
						<div class="row order-filters">
							<div class="col-md-4">
							  <h4>Intake</h4>
							  <div class="date_select_filter">
								  <div class="input-with-icon date-group-my right">                                       
								  <%= date_select(:filter, :intake, {include_blank: true}) %>
								  </div>
							  </div>
							</div>
							
							<div class="col-md-4">
							  <h4>Course Types</h4>
							  <input style="width:100%;margin-bottom: 5px;" name="filter[course_types[]]" data="<%= course_types_path(format: "json") %>" class="select2-ajax-course-types required multiple" value="" text=""  multiple="multiple" /> 
							</div>
							
							
						</div>
					</div>		    
				</div>-->
                
                
                <div class="row">
                    <div class="col-md-12">
                        <%= link_to 'New Book', new_book_path(tab_page: 1), psrc: books_path(tab_page:1), title: "New Book", :class => 'btn btn-primary btn-cons tab_page' %>
                        <div class="grid simple ">
                            <div class="grid-title no-border">
                                <h4>Listing  <span class="semi-bold">Books</span></h4>
                                
                            </div>
                            <div class="grid-body no-border">
                                 
                                    <table class="table table-striped no-more-tables datatable-books no-filter">
                                        <thead>
                                            <tr>                                                
												<th width="1%">Cover</th>
                                                <th>Title</th>
												<th>Volumns</th>
                                                <th>Publisher</th>
                                                <th class="text-center">Created At</th>
												<th class="text-center" width="1%">Creator</th>
												<th class="text-right" width="1%">Actions</th>
                                            </tr>
                                        </thead>                                        
                                    </table>
                            </div>
                        </div>
			
                    </div>
		    
                </div>

