<ul class="breadcrumb">
        <li>
          <p>YOU ARE HERE</p>
        </li>
                    <li>
			<%= link_to 'Books', books_url %>
                    </li>
      </ul>
      <div class="page-title"> <i class="icon-edit"></i>
		<% if @book.parent.nil? %>
				<h3>New <span class="semi-bold">Book</span></h3>
		<% else %>
				<h3><span class="semi-bold"><%= @book.parent.name %></span> - New Volumn</h3>
		<% end %>
      </div>
      

	  
<%= render 'form' %>