<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Gender</Data></Cell>
        <Cell><Data ss:Type="String">Full Name</Data></Cell>
        <Cell><Data ss:Type="String">Company</Data></Cell>
        <Cell><Data ss:Type="String">Description</Data></Cell>
        <Cell><Data ss:Type="String">DOB</Data></Cell>
        <Cell><Data ss:Type="String">Address</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">Phone</Data></Cell>
        <Cell><Data ss:Type="String">Mobile</Data></Cell>
        <Cell><Data ss:Type="String">Course</Data></Cell>
        <Cell><Data ss:Type="String">Money</Data></Cell>
        <Cell><Data ss:Type="String">Payment Date</Data></Cell>
        <Cell><Data ss:Type="String">Bank Account</Data></Cell>
        <Cell><Data ss:Type="String">Bank Ref</Data></Cell>
        <Cell><Data ss:Type="String">Defer/Transfer</Data></Cell>
      </Row>
    <% [1].each do |item| %>
      <Row>
        <Cell><Data ss:Type="String">Gender</Data></Cell>
        <Cell><Data ss:Type="String">Full Name</Data></Cell>
        <Cell><Data ss:Type="String">Company</Data></Cell>
        <Cell><Data ss:Type="String">Description</Data></Cell>
        <Cell><Data ss:Type="String">DOB</Data></Cell>
        <Cell><Data ss:Type="String">Address</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">Phone</Data></Cell>
        <Cell><Data ss:Type="String">Mobile</Data></Cell>
        <Cell><Data ss:Type="String">Course</Data></Cell>
        <Cell><Data ss:Type="String">Money</Data></Cell>
        <Cell><Data ss:Type="String">Payment Date</Data></Cell>
        <Cell><Data ss:Type="String">Bank Account</Data></Cell>
        <Cell><Data ss:Type="String">Bank Ref</Data></Cell>
        <Cell><Data ss:Type="String">Defer/Transfer</Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
