<ul class="breadcrumb">
        <li>
          <p>YOU ARE HERE</p>
        </li>
                    <li>
			<%= link_to 'Registration', course_registers_url %>
                    </li>
      </ul>
      <div class="page-title"> <i class="icon-edit"></i>
        <h3>New Payment</h3>
      </div>
      

	  
      <%= render 'form' %>

