                <ul class="breadcrumb">
                    <li>
                        <p>YOU ARE HERE</p>
                    </li> 
                    <li><%= link_to 'Registration Management', course_registers_url, :class => "active" %></li>
                </ul>
                <div class="page-title">
                        <i class="icon-briefcase"></i>
                    	<h3>Registration - <span class="semi-bold"> Management</span></h3>	
                </div>
				
				<%= render "filter" %>
				
                <div class="row">
                    <div class="col-md-12">
                        <!--<%= link_to 'New Registration', new_course_register_path(tab_page: 1), psrc: course_registers_path(tab_page:1), title: "New Registration", :class => 'btn btn-primary btn-cons tab_page' %>-->
						<%= link_to '<i class="icon icon-print"></i> Print To-Be-Delivered List'.html_safe, delivery_list_deliveries_path(format: "xls"), target: "_blank", :class => 'btn btn-white btn-cons' %>
                        <div class="grid simple ">
                            <div class="grid-title no-border">
                                <h4>Listing  <span class="semi-bold">Registration</span></h4>
                                
                            </div>
                            <div class="grid-body no-border">
                                 
                                    <table class="table table-striped no-more-tables datatable-course-registers no-filter">
                                        <thead>
                                            <tr>                                                
												<th>Student Name</th>
												<th class="text-left">Course</th>
                                                <th class="text-left">Stock</th>
												<th class="text-center">Delivery Status</th>
												<th class="text-right">Total</th>
												<th class="text-center">Payment Status</th>
                                                <th class="text-center">Created On</th>
												<th class="text-center" width="1%">Consultant</th>
												<th class="text-right" width="1%">Actions</th>
                                            </tr>
                                        </thead>                                        
                                    </table>
                            </div>
                        </div>
			
                    </div>
		    
                </div>

