		<ul class="breadcrumb">
				<li>
				  <p>YOU ARE HERE</p>
				</li>
							<li>
					<%= link_to 'Contact', contacts_url %>
							</li>
      </ul>
      <div class="page-title"> <i class="icon-edit"></i>
				<h3>Course <span class="semi-bold">Register</span></h3>
      </div>
      

	  
<%= render 'form' %>
