		<ul class="breadcrumb">
				<li>
				  <p>YOU ARE HERE</p>
				</li>
							<li>
					<%= link_to 'Registration', course_registers_url %>
							</li>
      </ul>
      <div class="page-title"> <i class="icon-edit"></i>
				<h3>Course Register <span class="semi-bold">Detail</span></h3>
      </div>
      

	  
        <div class="row">
            <div class="col-md-12">
              <div class="grid simple">
                <div class="grid-title no-border">
                  
                  
                </div>     
                
                
                
                
                <div class="grid-body no-border">
                  
                  
                  
                    
                 
                  
                  
                  
					
					 <div class="row column-seperation">
						 <div class="col-md-12">
							  <div class="row">
								   <div class="col-md-4">
										
										<div class="form-group">
										  <label class="form-label"><label>Student</label></label>
										  <span class="help">(required)</span>
										  <div class="input-with-iconz right">
											 <div style="font-size:16px;font-weight:bold"><%= @course_register.contact.display_name %></div>
										  </div>
										</div>
										
								   </div>
							  </div>
						 </div>
					 </div>
					 
					
					
						<%= render "show" %>

			   </div>
			 </div>
            </div>
			
      </div>

