<div class="form-group">


    <label class="form-label"><label>Phrases List</label></label>
    <div class="input-with-icon right">
    
        <% group_name = "" %>
        <div>
            <% @course.courses_phrases.includes(:phrase).order("phrases.id, courses_phrases.start_at").each do |courses_phrase| %>
                
                    <% if group_name != courses_phrase.phrase.name %>
                        <% if group_name != "" %><br style="clear: both" /><% end %>
                        <% group_name = courses_phrase.phrase.name %>
                        
                        <h5 style="margin-top: 0;"><strong><%= group_name %></strong></h5>
                    <% end %>

								<div class="row-fluid phrase_checkbox" title="Registered">
									 <div class="checkbox check-default">
										 <%= check_box_tag "disabled", courses_phrase.id, true, {id: "checkbox_"+courses_phrase.id.to_s, disabled: "disabled"} %>
										 <label for="checkbox_<%= courses_phrase.id %>">
											  [<%= courses_phrase.start_at.strftime("%d-%b-%Y") if courses_phrase.start_at.present? %>]
										 </label>
									 </div>
								</div>

            <% end %>
            
        </div>
    </div>

</div>