                <ul class="breadcrumb">
                    <li>
                        <p>YOU ARE HERE</p>
                    </li> 
                    <li><%= link_to 'Users', courses_url, :class => "active" %></li>
                </ul>
                <div class="page-title">
                        <i class="icon-briefcase"></i>
                    	<h3>Course - <span class="semi-bold"> Management</span></h3>	
                </div>
                
                
                <%= render "filters" %>
                
                
                <div class="row">
                    <div class="col-md-12">
                        <%= link_to 'New Course', new_course_path(tab_page: 1), psrc: courses_path(tab_page:1), title: "New Course", :class => 'btn btn-primary btn-cons tab_page' %>
                        <div class="grid simple ">
                            <div class="grid-title no-border">
                                <h4>Listing  <span class="semi-bold">Course</span></h4>
                                
                            </div>
                            <div class="grid-body no-border">
                                 
                                    <table class="table table-striped no-more-tables datatable-courses no-filter">
                                        <thead>
                                            <tr>                                                
												<th class="text-left" width="1%">Intake</th>
                                                <th class="text-left nowrap">Course</th>
												<th class="text-left nowrap">Phrase</th>
												<th class="text-center">Student Num</th>
												<th class="text-center">Lecturer</th>
                                                <th class="text-center">Created At</th>
												<th class="text-center" width="1%">Creator</th>
												<th class="text-right" width="1%">Actions</th>
                                            </tr>
                                        </thead>                                        
                                    </table>
                            </div>
                        </div>
			
                    </div>
		    
                </div>

