                <ul class="breadcrumb">
                    <li>
                        <p>YOU ARE HERE</p>
                    </li> 
                    <li><%= link_to 'Paper Management', subjects_url, :class => "active" %></li>
                </ul>
                <div class="page-title">
                        <i class="icon-briefcase"></i>
                    	<h3>Paper - <span class="semi-bold"> Management</span></h3>	
                </div>
				
				<%= render "filter" %>
				
                <div class="row">
                    <div class="col-md-12">
                        <!--<%= link_to 'New Paper', new_subject_path(tab_page: 1), psrc: subjects_path(tab_page:1), title: "New Paper", :class => 'btn btn-primary btn-cons tab_page' %>-->
                        <div class="grid simple ">
                            <div class="grid-title no-border">
                                <h4>Listing  <span class="semi-bold">Paper</span></h4>
                                
                            </div>
                            <div class="grid-body no-border">
                                 
                                    <table class="table table-striped no-more-tables datatable-transfers no-filter">
                                      <thead>
                                          <tr>
                                                  <th class="text-center">From</th>
                                                  <th class="text-center">To</th>
                                                  <th class="text-left">From.Item</th>
												  <th class="text-left">To.Course</th>
                                                  <th class="text-center">To.Hour</th>
                                                  <th class="text-right">To.Money</th>
                                                  <th class="text-right">Fee</th>                                                
                                                  
                                                  <th class="text-center">Created on</th>
												  <th class="text-center" width="1%">Status</th>
                                                  <th class="text-right" width="1%">Actions</th>
                                          </tr>
                                      </thead>                                        
                                  </table>
                            </div>
                        </div>
			
                    </div>
		    
                </div>

