<ul class="breadcrumb">
        <li>
          <p>YOU ARE HERE</p>
        </li>
                    <li>
			<%= link_to 'Seminar Management', books_url %>
                    </li>
      </ul>
      <div class="page-title"> <i class="icon-edit"></i>
		<h3>New <span class="semi-bold">Seminar</span></h3>
      </div>
	  
<%= render 'form' %>